<div class="card-category card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 250, crop: :fill %>')">
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</div>
