<div class='container'>
   <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'cocktails/card', cocktail: cocktail %>
        </div>
      <% end %>
    </div>
  <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-inline form">
        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name %>
          <%= f.submit "Add a new cocktail", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
